<a
  href="#/portal-doc?id={{ processDefinition.id }}"
  (click)="processDocumentationService.id.next(processDefinition.id)"
>
  <h4 class="tile-header">
    {{ processDefinition.name }}
  </h4>

  <ng-container *ngIf="diagram$ | async as d">
    <span #viewer class="tile-body">
      <custom-viewer [containerElement]="viewer" [diagram]="d"></custom-viewer>
    </span>

    <span
      class="tile-footer"
      [title]="pd.documentation?.documentation || processDefinition.id"
    >
      <custom-process-diagram-documentation
        #pd
        [diagram]="d"
      ></custom-process-diagram-documentation>

      {{ pd.documentation.documentation || processDefinition.id }}
    </span>
  </ng-container>
</a>
