<div
  class="flex gap-3"
  *ngIf="processDefinition$ | async as processDefinitions"
>
  <div class="w-32 lg:w-56 shadow-sm h-full sticky top-0 pt-8">
    <div class="flex gap-4 justify-between">
      <a href="#/portal-documentation">
        <button class="btn btn-info rounded">
          <span class="glyphicon glyphicon-home"></span>
        </button>
      </a>

      <app-share-dialog></app-share-dialog>
    </div>

    <ng-container *ngIf="processDefinitions.editable">
      <hr />

      <app-authorize-menu
        [processDefinition]="processDefinitions.definitionDocumentation.at(0)"
      ></app-authorize-menu>
    </ng-container>

    <hr />

    <div
      [svg]="true"
      class="w-full"
      [appViewer]="processDefinitions.definitionDocumentation.at(0).diagram"
    ></div>

    <hr />

    <div class="btn-group-vertical !block overflow-y-scroll" role="group">
      <div
        *ngFor="
          let documentation of processDefinitions.definitionDocumentation.at(0)
            .documentation
        "
        class="btn btn-default text-ellipsis whitespace-nowrap overflow-hidden"
        [class.active]="selectedDocumentation === documentation.id"
        [id]="documentation.id"
        (click)="scrollToElementById(documentation.id)"
      >
        {{ documentation.name || documentation.id }}
      </div>
    </div>
  </div>

  <div class="pl-4 w-full h-full border-l-gray-300 border-l">
    <h1 class="border-b-gray-300 border-b pb-3">
      {{ processDefinitions.definitionDocumentation.at(0).name }}
    </h1>

    <div class="flex relative">
      <div
        class="w-full"
        [appViewer]="processDefinitions.definitionDocumentation.at(0).diagram"
        (elementClick)="scrollToElementById($event)"
        style="height: 34em"
        #appViewer="appViewer"
        [viewer]="viewer"
      ></div>

      <div class="flex flex-row md:flex-col md:gap-4 gap-2 absolute left-0">
        <button
          type="button"
          class="btn btn-default inline"
          (click)="appViewer.zoomIn()"
        >
          <span class="glyphicon glyphicon-zoom-in"></span>
        </button>

        <button
          type="button"
          class="btn btn-default inline"
          (click)="appViewer.zoomOut()"
        >
          <span class="glyphicon glyphicon-zoom-out"></span>
        </button>

        <button
          type="button"
          class="btn btn-default inline"
          (click)="appViewer.resetZoom()"
        >
          <span class="glyphicon glyphicon-screenshot"></span>
        </button>
      </div>
    </div>

    <ng-container
      *ngFor="
        let documentation of processDefinitions.definitionDocumentation.at(0)
          .documentation
      "
    >
      <h2
        class="flex diagram-item flex-col md:flex-row gap-2 md:gap-4 items-center"
        [class.active]="selectedDocumentation === documentation.id"
        [id]="documentation.id"
      >
        <span
          [innerHTML]="
            domSanitizer.bypassSecurityTrustHtml(
              appViewer.getElementById(documentation.id)
            )
          "
        ></span>
        {{ documentation.name || documentation.id }}
      </h2>

      <p
        *ngIf="documentation.documentation"
        [innerHTML]="
          domSanitizer.bypassSecurityTrustHtml(documentation.documentation)
        "
      ></p>

      <div
        *ngIf="documentation.extendedDocumentation"
        [innerHTML]="
          domSanitizer.bypassSecurityTrustHtml(
            documentation.extendedDocumentation
          )
        "
      ></div>

      <small *ngIf="documentation.id"
        ><b>{{ "ELEMENT_DETAIL_NAME" | translate }}: </b>{{ documentation.id
        }}<br
      /></small>

      <small *ngIf="documentation.assignee"
        ><b>{{ "ASSIGNEE" | translate }}: </b>{{ documentation.assignee }}<br
      /></small>

      <small *ngIf="documentation.candidateGroups"
        ><b>{{ "CADIDATE_GROUP" | translate }}: </b
        >{{ documentation.candidateGroups }}<br
      /></small>

      <small *ngIf="documentation.dueDate"
        ><b>{{ "DUEDATE" | translate }}: </b>{{ documentation.dueDate }}<br
      /></small>
      <hr />
    </ng-container>
  </div>
</div>
