<ng-container *ngIf="processDefinition$ | async as pd">
  <div class="flex gap-2">
    <button [routerLink]="['../']" class="btn btn-info">
      <span class="glyphicon glyphicon-arrow-left"></span>
    </button>

    <app-share-dialog *ngIf="pd.editable"></app-share-dialog>
  </div>

  <ng-container *ngFor="let dddd of pd.definitionDocumentation">
    <div
      [appViewer]="dddd.diagram"
      (elementClick)="
        selectedDocumentation = $event; scrollToElementById($event)
      "
      style="height: 22em"
    ></div>

    <ng-container *ngFor="let d of dddd.documentation">
      <h2 [class.active]="selectedDocumentation === d.id" [id]="d.id">
        {{ d.name }}
      </h2>

      <p
        *ngIf="d.documentation"
        [innerHTML]="domSanitizer.bypassSecurityTrustHtml(d.documentation)"
      ></p>

      <div
        *ngIf="d.extendedDocumentation"
        [innerHTML]="
          domSanitizer.bypassSecurityTrustHtml(d.extendedDocumentation)
        "
      ></div>

      <small *ngIf="d.id"
        ><b>{{ "ELEMENT_DETAIL_NAME" | translate }}</b
        >{{ d.id }}<br
      /></small>

      <small *ngIf="d.assignee"
        ><b>{{ "ASSIGNEE" | translate }}: </b>{{ d.assignee }}<br
      /></small>

      <small *ngIf="d.candidateGroups"
        ><b>{{ "CADIDATE_GROUP" | translate }}: </b>{{ d.candidateGroups }}<br
      /></small>

      <small *ngIf="d.dueDate"
        ><b>{{ "DUEDATE" | translate }}: </b>{{ d.dueDate }}<br
      /></small>
      <hr />
    </ng-container>
  </ng-container>

  <p-scrollTop
    target="parent"
    styleClass="custom-scrolltop"
    [threshold]="100"
    icon="pi pi-arrow-up"
  />
</ng-container>
