<ng-container *ngIf="processDefinition$ | async as processDefinitions">
  <ng-container
    *ngFor="let processDefinition of processDefinitions.definitionDocumentation"
  >
    <div class="flex gap-2">
      <button [routerLink]="['../']" class="btn btn-info">
        <span class="glyphicon glyphicon-arrow-left"></span>
      </button>

      <app-share-dialog></app-share-dialog>
    </div>

    <app-authorize-menu
      [processDefinition]="processDefinition"
    ></app-authorize-menu>

    <div
      [appViewer]="processDefinition.diagram"
      (elementClick)="
        selectedDocumentation = $event; scrollToElementById($event)
      "
      style="height: 22em"
    ></div>

    <ng-container *ngFor="let documentation of processDefinition.documentation">
      <h2
        [class.active]="selectedDocumentation === documentation.id"
        [id]="documentation.id"
      >
        {{ documentation.name }}
      </h2>

      <p
        *ngIf="documentation.documentation"
        [innerHTML]="
          domSanitizer.bypassSecurityTrustHtml(documentation.documentation)
        "
      ></p>

      <div
        *ngIf="documentation.extendedDocumentation"
        [innerHTML]="
          domSanitizer.bypassSecurityTrustHtml(
            documentation.extendedDocumentation
          )
        "
      ></div>

      <small *ngIf="documentation.id"
        ><b>{{ "ELEMENT_DETAIL_NAME" | translate }}</b
        >{{ documentation.id }}<br
      /></small>

      <small *ngIf="documentation.assignee"
        ><b>{{ "ASSIGNEE" | translate }}: </b>{{ documentation.assignee }}<br
      /></small>

      <small *ngIf="documentation.candidateGroups"
        ><b>{{ "CADIDATE_GROUP" | translate }}: </b
        >{{ documentation.candidateGroups }}<br
      /></small>

      <small *ngIf="documentation.dueDate"
        ><b>{{ "DUEDATE" | translate }}: </b>{{ documentation.dueDate }}<br
      /></small>
      <hr />
    </ng-container>
  </ng-container>

  <p-scrollTop
    target="parent"
    styleClass="custom-scrolltop"
    [threshold]="100"
    icon="pi pi-arrow-up"
  />
</ng-container>
