<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
  <head>
    <title>Process Definitions</title>
    <!-- Include necessary CSS and JS files for bpmn-js viewer -->
    <link
      rel="stylesheet"
      href="/camunda/app/cockpit/camunda-cockpit-bootstrap.css"
    />
    <link
      href="https://cdn.jsdelivr.net/npm/bpmn-js@17.9.2/dist/assets/diagram-js.min.css"
      rel="stylesheet"
    />
    <script src="https://cdn.jsdelivr.net/npm/bpmn-js@17.9.2/dist/bpmn-modeler.development.min.js"></script>
  </head>
  <body>
    <div class="tile-grid">
      <div
        th:each="processDoc : ${processDocumentations}"
        class="tile col-xs-12 col-sm-6 col-md-4 col-lg-3"
      >
        <a th:href="@{'/' + ${processDoc.key}}">
          <h4 class="tile-header" th:text="${processDoc.name}"></h4>

          <div class="tile-body" th:id="'viewer-' + ${processDoc.key}"></div>

          <span
            class="tile-footer"
            th:title="${processDoc.documentation[0].documentation != null ? processDoc.documentation[0].documentation : processDoc.key}"
          >
            <span
              th:text="${processDoc.documentation[0].documentation != null ? processDoc.documentation[0].documentation : processDoc.key}"
            ></span>
          </span>
        </a>
      </div>
    </div>

    <style>
      .tile-footer {
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap;
      }
    </style>

    <script th:inline="javascript">
      /*<![CDATA[*/
      document.addEventListener("DOMContentLoaded", function () {
        var processDocumentations = /*[[${processDocumentations}]]*/ [];

        processDocumentations.forEach(function (processDoc) {
          var viewer = new BpmnJS.Viewer({
            container: "#viewer-" + processDoc.key,
          });

          viewer
            .importXML(processDoc.diagram)
            .then(function (result) {
              function resize() {
                const canvas = viewer.get("canvas");

                const { inner } = canvas.viewbox();

                canvas.zoom("fit-viewport", {
                  x: inner.x + inner.width / 2,
                  y: inner.y + inner.height / 2,
                });
              }

              resize();

              addEventListener("resize", resize);
            })
            .catch(function (err) {
              console.error("Error rendering diagram", err);
            });
        });
      });
      /*]]>*/
    </script>
  </body>
</html>
