/* You can add global styles to this file, and also import other style files */

html {
  font-size: 16px;
}

@layer tailwind-base, primeng, tailwind-utilities;

@layer tailwind-base {
  @tailwind base;
}

@layer tailwind-utilities {
  @tailwind components;
  @tailwind utilities;
}

.bjs-powered-by {
  display: none;
}

body {
  padding: 0;
}
